[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
awscli = "*"
jupyter = "*"
boto3 = "*"
pyarrow = "*"
pyyaml = "*"
moto = "*"
coverage = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
